@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

.content {
  display: flex;
  flex-direction: column;
}
.content .page {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.title {
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.desc {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

.btn {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.cookies {
  background: #194277;
}
.cookies .container {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 20px;
}
.cookies__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.cookies__desc {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.cookies__btn {
  flex: 0 1 112px;
  text-align: center;
  border-radius: 15px;
  height: 30px;
}
.cookies__btn a {
  width: 100%;
  color: #194277;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.55px;
}

.latest .container {
  padding: 100px 20px 200px;
}
.latest__title {
  margin: 0 0 100px 0;
}
.latest__row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.latest__block {
  flex: 1 1 31%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #f4f4f4;
}

.footer {
  background: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer__desc {
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
}
.footer__desc span {
  font-weight: 700;
}
.footer__btn {
  flex: 0 1 200px;
  text-align: center;
  border-radius: 28px;
  height: 55px;
}
.footer__btn a {
  width: 100%;
  color: #3695ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
