.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


    .title__latest-works {
    align-items: center;
    line-height: 35.12px;
    text-align: center;
  }
  .content_latest-works {
      display: flex;
      justify-content:center;
      flex-wrap: wrap;
      gap: 2%;
  }
  .imgBack {
        border-radius: 10px;
        border: 1px solid #f4f4f4;
        background-color: #f4f4f4;
        flex:1 1 32%;    
        display: flex;
        justify-content: center;
        align-items: center;
        #a{
        
        } 
        #b{} 
        #c{} 
        #d{} 
        #e{} 
        #f{}       
  }
}


