.latest {

  .container {
    padding: 100px 20px 200px;
}

  &__title {
    margin: 0 0 100px 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__block {
    flex: 1 1 31%;

    height: 270px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: #f4f4f4;
  }
}

