* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.background-on-click {
  position: fixed;
  z-index: 100;
  display: none;

  width: 100%;
  height: 100%;

  background: rgba(85, 85, 85, 0.6);
}

.hire {
  display: none;
  position: fixed;
  z-index: 120;
  // top: 100px;
  // left: 30%;

  border-radius: 10px;
  background-color: #ffffff;

  .container {
    padding: 60px 20px;
  }

  &__title {
    margin: 0 0 60px 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      height: 45px;

      outline: none;
      border-radius: 10px;
      border: 1px solid #b7c0c9;

      padding: 0 0 0 20px;
    }

    [type="textarea"] {
      min-height: 100px;

      margin: 0 0 60px 0;
    }

    [type="submit"] {
      width: 204px;
      height: 55px;

      margin: 0 auto;
      padding: 0;

      border-radius: 28px;
      background-color: #ffffff;
      background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);

      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.4px;

      &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  & .page {
    flex: 1 1 auto;

    position: relative;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.title {
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.desc {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

@import "_btn";
@import "_cookies";
@import "_hero";
@import "_about";
@import "_expert";
@import "_works";
@import "_clients";
@import "_footer";


